<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="text-center" *ngIf="!isLoaded">Loading...</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <myf-add-event
        [categories]="categories"
        (eventAdd)="newEventAdded($event)"
      ></myf-add-event>
    </div>
    <div class="col-md-6">
      <myf-add-category (categoryAdd)="newCategoryAdded($event)"></myf-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <myf-edit-category
        [categories]="categories"
        (categoryEdit)="categoryWasEdited($event)"></myf-edit-category>
    </div>
  </div>
</section>
